*{
    text-decoration: none;
    color: black;
}

a{
    padding: 10%;
    background-color: rgb(213, 254, 255);
    border-radius: 12%;
    border-color: black;
}

a:hover{
    background-color: blue;
    padding: 12%;
}
body{
    
    display: flex;
    justify-content: space-around;
}